<p>hello</p>

<!--
  <button mat-raised-button color="primary" (click)="editButtonClicked1()">edit</button>


<input #inputField (blur)="checkInputValue(inputField)"
class="edit-box"  *ngIf="editflag1" matInput [value]="element" [(ngModel)]="element" placeholder="1" [ngStyle]="{'background-color': (element.wval < 0 ? 'Red'  : 'grey')}" >
<span *ngIf="!editflag1" class="sz1">{{element}}</span>
 -->

<!-- Display the list with editable inputs -->

<button mat-raised-button color="primary" (click)="editButtonClicked1()">{{editflag1 ? 'Save' : 'Edit'}}</button>
<br>
<br>
<br>

<div class="Parent">

  <div class="Child-1">

    <p *ngFor="let item of names">{{item}}</p>

  </div>

  <div class="Child-2">

    <div *ngFor="let item of list; let i = index" >

      <input *ngIf="editflag1" #inputField  class="edit-box" [value]="item" [readonly]="!editflag1" (blur)="checkInputValue1(inputField.value, i)">
      <p *ngIf="!editflag1">{{item}}</p>
      <hr>
    </div>

  </div>


</div>




